* {
    margin: 0;
    padding: 0;
}

.header,
.nav,
.list,
.bannernav,
.goods-list,
.footer,
.foot,
.list-all {
    width: 1606px;
    margin: 0 auto;
}

/* header */
.headerwrap {
    background: #f4f4f4;
    border-bottom: 2px solid #e5e5e5;
}

.header {
    height: 30px;
    line-height: 30px;
}

.headerleft i {
    font-size: 18px;
    color: red;
}

.headerleft input {
    font-size: 16px;
    color: #666;
    background: #f4f4f4;
    width: 80px;
}

.headerleft span {
    font-size: 16px;
    color: #666;
}

.headerright i {
    color: #bbaaaa;
    font-size: 24px;
}

.headerleft span a:hover {
    color: red;
}

/* city */
.city {
    display: none;
    width: 1079px;
    height: 167px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: solid 2px #dbdbdb
}

.city span {
    font-size: 18px;
    font-weight: 900;
    color: #666;
    margin-left: 29px;
}

.city input {
    width: 222px;
    height: 39px;
    border: solid 1px #cccccc;
    text-align: center;
    line-height: 39px;
    font-size: 17px;
    color: #7575a1;
    margin-top: 23px;
}

.city ul {
    position: absolute;
    left: 108px;
    top: 75px
}

.city ul li {
    float: left;
    font-size: 17px;
    color: #666666;
    width: 92px;
    line-height: 38px;
    text-align: center;
}

.city button {
    position: absolute;
    right: 10px;
    top: 10px;
}

/* nav */
.nav {
    height: 215px;
    position: relative;
}

.logo1 {
    width: 215px;
    height: 215px;
    position: absolute;
    left: 0;
    top: 0;
}

.logo2 {
    position: absolute;
    left: 215px;
    top: 25px;
}

.search {
    position: absolute;
    right: 0;
    top: 75px;
}

.search1 {
    width: 762px;
    height: 58px;
    border-radius: 27px;
    border: solid 2px #e2e2e2;
    line-height: 58px;
}

.search2 {
    width: 179px;
    height: 58px;
    border-radius: 27px;
    margin-left: 24px;
    border: solid 2px #e2e2e2;
    line-height: 58px;
}

.search1 span {
    font-size: 20px;
    color: #757575;
    margin-left: 50px;
}

.search1 i {
    font-size: 29px;
    color: #666696;
    margin-right: 31px;
}

.search2 span {
    font-size: 23px;
    color: #272636;
}

.search2 i {
    font-size: 24px;
    color: #272636;
    margin-left: 36px;
    margin-right: 10px;
}

.nav1 li {
    float: left;
}

.nav1 li a {
    font-size: 19px;
    color: #aaaaaa;
    margin-right: 17px;
}



/* cart */
.cart {
    width: 1606px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    border: solid 1px #333333
}

.cart .top {
    height: 60px;
    border-bottom: solid 1px #333333;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.cart .top input {
    width: 30px;
    height: 30px;
    margin-left: 50px;
    margin-right: 20px;
}

.cart .bottom {
    height: 60px;
    border-top: solid 1px #333333;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.cart .bottom p {
    margin-right: 50px;
    margin-left:50px ;
}

.cart .bottom button {
    margin-right: 20px;
    width: 150px;
    height: 50px;
    font-size: 25px;
}

.cart .bottom .pay {
    margin-left: 600px;
    background:#ff0158;
}

.cart .center li {
    display: flex;
    border:solid 1px #333333;
    margin: 10px;
}

.cart .center li .select {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 1px #333333;
}
.cart .center li .select input{
    width:30px;
    height: 30px;
}
.cart .center li .Info {
    display: flex;
    align-items: center;
    font-size: 25px;
}
.cart .center li .Info img{
   width: 153px;
   height: 206px;
   display: block;
   margin-right: 10px;
}
.cart .center li .Info p{
    width: 300px;
}
.cart .center li .number{
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.cart .center li .number button{
    width: 30px;
    height: 30px;
}
.cart .center li .number input{
    height: 30px;
    width: 100px;
    text-align: center;
    font-size: 20px;
} 
.cart .center li .del{
    margin-left: 100px;
    display: flex;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
.cart .center li .price{
    margin-left: 100px;
    display: flex;
    align-items: center;
    font-size: 25px;
}
.cart .center li .xiaoji{
    margin-left: 100px;
    display: flex;
    align-items: center;
    font-size: 25px;
}

/* footer */
.footer-top {
    height: 189px;
    border-bottom: solid 2px #ebebeb
}

.picture {
    width: 25%;
    height: 189px;
    overflow: hidden;
    float: left;
}

.picture img {
    width: 99px;
    height: 99px;
    float: left;
    margin-top: 46px;
    margin-right: 22px;
}

.picture b {
    margin-top: 77px;
    display: block;
    font-size: 21px;
    font-weight: 900;
    color: #000;
    line-height: 1px;
}

.picture span {
    font-size: 17px;
    color: #999
}

.list2 {
    width: 1195px;
    height: 252px;
    float: left;
}

.list2 dl {
    float: left;
    width: 25%;
    margin-top: 44px;
    padding-left: 34px;
}

.list2 dl dt {
    font-size: 21px;
    color: #666;
    font-weight: 900;
}

.list2 dl dd {
    font-size: 17px;
    color: #667eb5;
    line-height: 36px;
}

.list2 dl dd a:hover {
    color: red
}

.app img {
    width: 130px;
    height: 130px;
}

.app p {
    font-size: 20px;
    font-weight: 900;
    color: #666;
    margin-top: 31px;
    line-height: 50px;
}

.weixin img {
    width: 130px;
    height: 130px;
    margin-right: 75px;
}

.weixin p {
    font-size: 20px;
    font-weight: 900;
    color: #666;
    margin-top: 31px;
    line-height: 50px;
}

/* foot */
.foot {
    height: 70px;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
}

.foot a {
    color: #333;
    margin: 0 8px;
}

.foot a:hover {
    color: red;
}

.foot p {
    margin-top: 10px;
    color: #333;
}