*{
    margin: 0;
    padding :0;
}
/* header */
.headerwrap{
    padding: 16px;
    border-top:solid 3px #dadce0;
    border-bottom:solid 3px #dadce0; ;
}
.header{
    width: 1200px;
    margin: 0 auto;
}
.logo{
    float: left;
}
.login-right{
    line-height: 18px;
    color: #999999;
    font-family: "SimSun";
}
.blue_link{
    color: #06c;
}
.blue_link:hover{color:red;}
/* content */
.contentwrap{
    background: url(../images/shadow.png) repeat-x;
}
.content{
    width: 980px;
    margin: 0 auto;
    padding-top: 26px;
}
.banner1{
    width: 510px;
    height:315px;
    margin-top: 45px;
    float: left;
}
.f-right{
    float: right;
    height: 403px;
    background:#fff;
    padding: 45px 35px 0 35px;
}
.err{
    border:1px solid #dedede;
    width:330px;
    height:30px;
    background: sandybrown;
    line-height: 30px;
    display:none;
}
.err span{
    margin-left: 10px;
}
.item{
    width:330px;
    height:30px;
}
.item h3{
    float: left;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    line-height: 30px;
}
.item a{
    font-size: 14px;
    float:right;
    color:#06c;
    line-height: 30px;
}
.item a:hover{color:red;}
.one{
    width: 330px;
    height: 54px;
    border: 2px solid #dedede;
    font-size: 14px;
    color:#ccc;
    line-height: 54px;
    padding: 0 18px;
}
.username{
    margin-left: 20px;
}
.password{
    margin-left: 20px;
}
.two{
    font-size: 14px;
    line-height: 24px;
}
.button{
    width: 366px;
    height: 52px;
    background: #ff3c3c;
    border-radius: 3px;
    font-size: 16px;
    color:#fff;
}
.more{
    font-size: 14px;
    color:#666;
}
.net li{
    float: left;
    margin-right: 20px;
}
.net li a{
    font-size: 32px;
}
.footer{
    width: 980px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.footer a{
    color:#333;
    margin: 0 8px;
}
.footer a:hover{color:red;}
.footer p{
    margin-top: 10px;
    color:#333;
}